<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-add" th:method="POST" th:action="@{/result}" th:object="${luhn}">
    <div class="form-group">
        <label for="entryDigit">Entry Digit</label>
        <input type="number" min="0" class="form-control" id="entryDigit" th:field="${luhn.digitSequence}" name="digitSequence" required>
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>